@using WareHouseManagement;
@using System.Collections.Generic;
@model List<EZPrintModel>
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- iOS - needs to reside in the "Resources" directory and have build action of "BundleResource" -->
    <!-- Droid - needs to reside in "Assets" directory and have build action of "AndroidAsset" -->
    <link rel="stylesheet" href="primer.css">
    <link href="bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="blankslate ">
        <h3>Dunblare Import-Export INC</h3>
        <p>
            11305 N.W. 122nd St.
            <br />
            MEDLEY, FL 33178
            <br />
            (308)883 - 1194
            <br />
            WWW.DUNBLARE.COM
        </p>
    </div>
    <div class="top-bottom-border">
        <h4 class="align-top-left">DIVISION:</h4>
        <div class="text-center">
            <label class="textsize">Massy US</label>
        </div>
    </div>
    <div class="bottom-border">
        <h4 class="align-top-left">Customer:</h4>
        <div class="text-center">
            <label class="textsize">Neal And Massy</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4 text-center">
                <h4>Receiving Log#:</h4>
            </div>
            <div class="col-md-4 text-center">
                <h4>User id:SJOSEPH</h4>
            </div>
            <div class="col-md-4 text-center">
                <h4>DateIn:01/02/2019</h4>
            </div>

        </div>

    </div>
    <div class=" text-center bottom-border">


        <label class="textsize">001359</label>




    </div>
    <div class="row bottom-border">
        <div class="col-md-12">
            <div class="col-md-6 ">
                <h4>Boxes:</h4>
                <label class="label-font-size">2,140</label>
            </div>



            <div class="col-md-6 left-border">
                <h4>Pieces:</h4>
                <label class="label-font-size">2,140</label>
            </div>
        </div>
    </div>
    <div class="bottom-border">
        <h4 class="align-top-left">SKU/ITEM:</h4>
        <div class="text-center">
            <label class="textsize">Massy US</label>
        </div>
    </div>
    <div>
        <h4 class="align-top-left">BARCODE:</h4>
        <div class="text-center">
            <label class="textsize">Massy US</label>
        </div>
    </div>
</body>
</html>